# Dependencies
node_modules
npm-debug.log

# Build
dist
build

# Environment
.env
.env.*

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Tests
coverage
.nyc_output
test

# Logs
logs
*.log

# System Files
.DS_Store
Thumbs.db 